<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="content" padding>
<ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  
  </ion-list>
  
  <div padding>
    <button block ion-button (click) = "login()">Sign In</button>
  </div>

  <div padding>
    <button block ion-button (click) = "goToSignUp()">Sign Up</button>
  </div>

</div>