<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Post" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Feed" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>
