<!--
  Generated template for the NewPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Novo Post</ion-title>
    <ion-buttons end>
      <button (click)="logout()" ion-button>
          <ion-icon name='log-out'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="content" padding>
    <ion-list>
        <ion-item>
          <ion-label floating>Texto</ion-label>
          <ion-input type="text" [(ngModel)]="post.text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Image</ion-label>
          <ion-input type="text" [(ngModel)]="post.image_url"></ion-input>
        </ion-item>
      
      </ion-list>
      
      <div padding>
        <button block ion-button (click) = "postar()">Postar</button>
      </div>
    </div>
</ion-content>